
@{
    ViewBag.Title = "Index";
}


<aside class="right-side">
    <section class="content-header">
        <h1>
            Portafolio
            <small> - </small>
            <div class="btn-group">
                <button class="btn btn-warning" type="button">
                    <small class="label label-danger">4</small>
                    Scorm
                </button>
                <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle" type="button">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul role="menu" class="dropdown-menu">
                    <li>
                        <a href='@Url.Action("General", "Mock")'>
                            Excel Basico
                            <span class="badge bg-red pull-right">65%</span>
                        </a> 
                    </li>
                    <li>
                        <a href='@Url.Action("General", "Mock")'>
                            Share Point
                            <small class="badge bg-green pull-right">100%</small>
                        </a> 
                    </li>
                    <li>
                        <a href='@Url.Action("General", "Mock")'>
                            Project
                            <small class="badge bg-green pull-right">80%</small>
                        </a> 
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href='@Url.Action("Examen", "Mock")'>
                            Examen No. 7
                            <small class="badge bg-red pull-right">55%</small>
                        </a> 
                    </li>
                </ul>
            </div>
        </h1>
    </section>
    
    
    <section class="content">
        <div class="row">

            <div class="col-md-9">
                <div class="box">
                    
                <div class="box-header">
                    <h3 class="box-title">Evidencia #4 </h3>
                </div>

                <div class="box-body">
                    <table class="table">
                        <tbody>
                            <tr style="background-color: #1570a6; color: #fff;">
                                <th>Nombre</th>
                                <th>Matricula</th>
                                <th>Archivos Adjuntos</th>
                                <th>Promedio SCORM</th>
                                <th>Detalle de examenes</th>
                                <th>Promedio de examenes</th>
                                <th>Calificacion</th>
                                <th>Puntos Obtenidos / Posibles</th>
                                <th>Retroalimentacion</th>
                            </tr>
                            <tr>
                                <td>@Html.ActionLink("Gilberto Tovar Nino", "Individual", "Mock", null)</td>
                                <td class="text-center">093012</td>
                                <td><div><strong>Activos</strong><ul class="list-unstyled"><li><p><i class="fa fa-paperclip"></i> <a href="javascript:Download('H:-Archivos9-Contenedor_290-','Hook Pre-Commit.txt','484_08-01-2015_12-18-06_5.txt');">Hook Pre-Commit.txt</a></p><p class="nx-calificacion-fecha-archivo-entregado">08 enero 2015, 12:18 <label class="archivo-fuera-tiempo">(Entregado fuera de tiempo)</label></p></li></ul></div></td>
                                <td class="text-center"><a href='@Url.Action("Individual", "Mock")'><span class="badge bg-red">55%</span></a></td>
                                <td><ul class="list-unstyled"><li>examen junio 2013: <b>0</b></li><li>examen de prueba agosto 2013: <b>0</b></li><li>pruebaAgosto2013: <b>0</b></li></ul></td>
                                <td class="text-center">80</td>
                                <td class="text-center">100</td>
                                <td class="text-center">10/10</td>
                                <td class="text-center"><a href="#"><i class="fa fa-comments-o fa-2x"></i></a></td>
                            </tr>
                            <tr>
                                <td>Orozco Flores Rene</td>
                                <td class="text-center">093012</td>
                                <td><div><strong>Activos</strong><ul class="list-unstyled"><li><p><i class="fa fa-paperclip"></i> <a href="javascript:Download('H:-Archivos9-Contenedor_290-','Hook Pre-Commit.txt','484_08-01-2015_12-18-06_5.txt');">Hook Pre-Commit.txt</a></p><p class="nx-calificacion-fecha-archivo-entregado">08 enero 2015, 12:18 <label class="archivo-fuera-tiempo">(Entregado fuera de tiempo)</label></p></li></ul></div></td>
                                <td class="text-center"><span class="badge bg-green">75%</span></td>
                                <td><ul class="list-unstyled"><li>examen junio 2013: <b>0</b></li><li>examen de prueba agosto 2013: <b>0</b></li><li>pruebaAgosto2013: <b>0</b></li></ul></td>
                                <td class="text-center">80</td>
                                <td class="text-center">100</td>
                                <td class="text-center">10/10</td>
                                <td class="text-center"><i class="fa fa-comments-o fa-2x"></i></td>
                            </tr>
                            <tr>
                                <td>Trevino Uribe Jessica</td>
                                <td class="text-center">093012</td>
                                <td><div><strong>Activos</strong><ul class="list-unstyled"><li><p><i class="fa fa-paperclip"></i> <a href="javascript:Download('H:-Archivos9-Contenedor_290-','Hook Pre-Commit.txt','484_08-01-2015_12-18-06_5.txt');">Hook Pre-Commit.txt</a></p><p class="nx-calificacion-fecha-archivo-entregado">08 enero 2015, 12:18 <label class="archivo-fuera-tiempo">(Entregado fuera de tiempo)</label></p></li></ul></div></td>
                                <td class="text-center"><span class="badge bg-green">85%</span></td>
                                <td><ul class="list-unstyled"><li>examen junio 2013: <b>0</b></li><li>examen de prueba agosto 2013: <b>0</b></li><li>pruebaAgosto2013: <b>0</b></li></ul></td>
                                <td class="text-center">80</td>
                                <td class="text-center">100</td>
                                <td class="text-center">10/10</td>
                                <td class="text-center"><i class="fa fa-comments-o fa-2x"></i></td>
                            </tr>
                            <tr>
                                <td>Carrera Reyes Ofelia Patricia</td>
                                <td class="text-center">093012</td>
                                <td><div><strong>Activos</strong><ul class="list-unstyled"><li><p><i class="fa fa-paperclip"></i> <a href="javascript:Download('H:-Archivos9-Contenedor_290-','Hook Pre-Commit.txt','484_08-01-2015_12-18-06_5.txt');">Hook Pre-Commit.txt</a></p><p class="nx-calificacion-fecha-archivo-entregado">08 enero 2015, 12:18 <label class="archivo-fuera-tiempo">(Entregado fuera de tiempo)</label></p></li></ul></div></td>
                                <td class="text-center"><span class="badge bg-green">95%</span></td>
                                <td><ul class="list-unstyled"><li>examen junio 2013: <b>0</b></li><li>examen de prueba agosto 2013: <b>0</b></li><li>pruebaAgosto2013: <b>0</b></li></ul></td>
                                <td class="text-center">80</td>
                                <td class="text-center">100</td>
                                <td class="text-center">10/10</td>
                                <td class="text-center"><i class="fa fa-comments-o fa-2x"></i></td>
                            </tr>
                            <tr>
                                <td>Silva Zamarripa Jose Joel</td>
                                <td class="text-center">093012</td>
                                <td><div><strong>Activos</strong><ul class="list-unstyled"><li><p><i class="fa fa-paperclip"></i> <a href="javascript:Download('H:-Archivos9-Contenedor_290-','Hook Pre-Commit.txt','484_08-01-2015_12-18-06_5.txt');">Hook Pre-Commit.txt</a></p><p class="nx-calificacion-fecha-archivo-entregado">08 enero 2015, 12:18 <label class="archivo-fuera-tiempo">(Entregado fuera de tiempo)</label></p></li></ul></div></td>
                                <td class="text-center"><span class="badge bg-green">100%</span></td>
                                <td><ul class="list-unstyled"><li>examen junio 2013: <b>0</b></li><li>examen de prueba agosto 2013: <b>0</b></li><li>pruebaAgosto2013: <b>0</b></li></ul></td>
                                <td class="text-center">80</td>
                                <td class="text-center">100</td>
                                <td class="text-center">10/10</td>
                                <td class="text-center"><i class="fa fa-comments-o fa-2x"></i></td>
                            </tr>
                            <tr>
                                <td>Punte Nunez Kimberly</td>
                                <td class="text-center">093012</td>
                                <td><div><strong>Activos</strong><ul class="list-unstyled"><li><p><i class="fa fa-paperclip"></i> <a href="javascript:Download('H:-Archivos9-Contenedor_290-','Hook Pre-Commit.txt','484_08-01-2015_12-18-06_5.txt');">Hook Pre-Commit.txt</a></p><p class="nx-calificacion-fecha-archivo-entregado">08 enero 2015, 12:18 <label class="archivo-fuera-tiempo">(Entregado fuera de tiempo)</label></p></li></ul></div></td>
                                <td class="text-center"><span class="badge bg-red">60%</span></td>
                                <td><ul class="list-unstyled"><li>examen junio 2013: <b>0</b></li><li>examen de prueba agosto 2013: <b>0</b></li><li>pruebaAgosto2013: <b>0</b></li></ul></td>
                                <td class="text-center">80</td>
                                <td class="text-center">100</td>
                                <td class="text-center">10/10</td>
                                <td class="text-center"><i class="fa fa-comments-o fa-2x"></i></td>
                            </tr>
                            <tr>
                                <td>Sanchez Flores Javier</td>
                                <td class="text-center">093012</td>
                                <td><div><strong>Activos</strong><ul class="list-unstyled"><li><p><i class="fa fa-paperclip"></i> <a href="javascript:Download('H:-Archivos9-Contenedor_290-','Hook Pre-Commit.txt','484_08-01-2015_12-18-06_5.txt');">Hook Pre-Commit.txt</a></p><p class="nx-calificacion-fecha-archivo-entregado">08 enero 2015, 12:18 <label class="archivo-fuera-tiempo">(Entregado fuera de tiempo)</label></p></li></ul></div></td>
                                <td class="text-center"><span class="badge bg-green">85%</span></td>
                                <td><ul class="list-unstyled"><li>examen junio 2013: <b>0</b></li><li>examen de prueba agosto 2013: <b>0</b></li><li>pruebaAgosto2013: <b>0</b></li></ul></td>
                                <td class="text-center">80</td>
                                <td class="text-center">100</td>
                                <td class="text-center">10/10</td>
                                <td class="text-center"><i class="fa fa-comments-o fa-2x"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                </div>
            </div>
        </div>

    </section>

</aside>
