@{
    ViewBag.Title = "Alumno - Gilberto Tovar Nino";
}

<aside class="right-side">
    <section class="content-header">
        <h1>
            Gilberto Tovar Nino - Excel Basico
            <span class="btn btn-success btn-flat">Puntaje 80% </span>
            <span class="btn btn-success btn-flat">Completado</span>
            <span class="btn btn-success btn-flat">Tiempo 3hrs</span>
            <span class="btn btn-success btn-flat">Inicio 25/Jun/2015</span>
        </h1>
    </section>


    <section class="content">
        <div class="row">

            <div class="col-md-9">
                <!-- Default box -->
                <div class="box collapsed-box">
                    <div class="box-header">
                        <h3 class="box-title">Objetos</h3>
                        <div class="box-tools pull-right">
                            <button title="" data-toggle="tooltip" data-widget="collapse" class="btn btn-default btn-sm" data-original-title="Collapse"><i class="fa fa-plus"></i></button>
                            <button title="" data-toggle="tooltip" data-widget="remove" class="btn btn-default btn-sm" data-original-title="Remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body" style="display: none;">

                        <div class="row">

                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-blue">
                                    <div class="inner">

                                        <h3>
                                            @Html.ActionLink("Excel Basico", "Individual", "Mock", new { @style = "color: white;" })
                                        </h3>
                                        <p>25% Completado</p>
                                        <p>Inicio 18/Jun/2015</p>
                                        <p>80% Calificacion Promedio</p>
                                        <p>Tiempo 3hrs</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-checkmark-circled"></i>
                                    </div>
                                    <div class="inner">
                                        
                                        <a class="btn btn-default btn-flat" href='@Url.Action("Individual","Mock")'>
                                            SECUENCIA <i class="fa fa-list-alt"></i>
                                        </a>
                                        <a class="btn btn-default btn-flat" href="#">
                                            RESPUESTAS <i class="fa fa-check-square"></i> </a>
                                    </div>
                                    <a class="small-box-footer" href='@Url.Action("Individual", "Mock")'>
                                        mas informacion <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>


                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-red">
                                    <div class="inner">
                                        <h3>
                                            @Html.ActionLink("Examen No. 7", "Individual_Examen", "Mock", new {@style = "color: white;"})
                                        </h3>
                                        <p>25% Completado</p>
                                        <p>Inicio 18/Jun/2015</p>
                                        <p>62% Calificacion Promedio</p>
                                        <p>Tiempo 3hrs</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-close-circled"></i>
                                    </div>
                                    <div class="inner">

                                        <a class="btn btn-default btn-flat" href="#">
                                            SECUENCIA <i class="fa fa-list-alt"></i>
                                        </a>
                                        <a class="btn btn-default btn-flat" href="#">
                                            RESPUESTAS <i class="fa fa-check-square"></i>
                                        </a>
                                    </div>
                                    <a class="small-box-footer" href='@Url.Action("Individual_Examen", "Mock")'>
                                        mas informacion <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>


                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3>
                                            Sharpe Point
                                        </h3>
                                        <p>25% Completado</p>
                                        <p>Inicio 18/Jun/2015</p>
                                        <p>100% Calificacion Promedio</p>
                                        <p>Tiempo 3hrs</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-checkmark-circled"></i>
                                    </div>
                                    <div class="inner">

                                        <a class="btn btn-default btn-flat" href="#">
                                            SECUENCIA <i class="fa fa-list-alt"></i>
                                        </a>
                                        <a class="btn btn-default btn-flat" href="#">
                                            RESPUESTAS <i class="fa fa-check-square"></i>
                                        </a>
                                    </div>
                                    <a class="small-box-footer" href="#">
                                        mas informacion <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>


                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box bg-green">
                                    <div class="inner">

                                        <h3>
                                            Windows 7
                                        </h3>
                                        <p>25% Completado</p>
                                        <p>Inicio 18/Jun/2015</p>
                                        <p>90% Calificacion Promedio</p>
                                        <p>Tiempo 3hrs</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-checkmark-circled"></i>
                                    </div>
                                    <div class="inner">

                                        <a class="btn btn-default btn-flat" href="#">
                                            SECUENCIA <i class="fa fa-list-alt"></i>
                                        </a>
                                        <a class="btn btn-default btn-flat" href="#">
                                            RESPUESTAS <i class="fa fa-check-square"></i>
                                        </a>
                                    </div>
                                    <a class="small-box-footer" href="#">
                                        mas informacion <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>



            <div class="col-md-9">
                <div class="box">

                    <div class="box-header">
                        <h3 class="box-title">SECUENCIA - Excel Basico
                         </h3>
                         <button class="margin btn btn-danger btn-flat pull-right">Ver respuestas</button>
                    </div>

                    <div class="box-body">


                        <table class="table">
                            <tbody>
                                <tr style="background-color: #1570a6; color: #fff;">
                                    <th class="text-center">#</th>
                                    <th class="text-center">Time</th>
                                    <th class="text-center">Event Type</th>
                                    <th class="text-center">Navigation Command</th>
                                    <th class="text-center">Message</th>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">6/8/2015 6:47 PM</td>
                                    <td class="text-center">FinalNavigation</td>
                                    <td class="text-center">ExitAll</td>
                                    <td>Navigation complete. No current activity.</td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td class="text-center">6/8/2015 6:47 PM</td>
                                    <td class="text-center">Rollup</td>
                                    <td class="text-center">ExitAll</td>
                                    <td>Rollup setting normalized measure to 0.6 for activity 'golf_sample_default_org'.</td>
                                </tr>
                                <tr>
                                    <td class="text-center">3</td>
                                    <td class="text-center">6/8/2015 6:47 PM</td>
                                    <td class="text-center">Rollup</td>
                                    <td class="text-center">ExitAll</td>
                                    <td>Rollup initiated for activity 'golf_sample_default_org'.</td>
                                </tr>
                                <tr>
                                    <td class="text-center">4</td>
                                    <td class="text-center">6/8/2015 6:47 PM</td>
                                    <td class="text-center">Rollup</td>
                                    <td class="text-center">ExitAll</td>
                                    <td>Rollup initiated for activity 'golf_sample_default_org'.</td>
                                </tr>
                                <tr>
                                    <td class="text-center">5</td>
                                    <td class="text-center">6/8/2015 6:47 PM</td>
                                    <td class="text-center">Rollup</td>
                                    <td class="text-center">ExitAll</td>
                                    <td>Rollup setting normalized measure to 0.6 for activity 'golf_sample_default_org'.</td>
                                </tr>
                                <tr>
                                    <td class="text-center">6</td>
                                    <td class="text-center">6/8/2015 6:47 PM</td>
                                    <td class="text-center">Rollup</td>
                                    <td class="text-center">ExitAll</td>
                                    <td>Rollup initiated for activity 'item_1'.</td>
                                </tr>
                                <tr>
                                    <td class="text-center">7</td>
                                    <td class="text-center">6/8/2015 6:47 PM</td>
                                    <td class="text-center">FinalNavigation</td>
                                    <td class="text-center">Start</td>
                                    <td>Navigation resulted in making 'item_1' the current active activity.</td>
                                </tr>
                                <tr>
                                    <td class="text-center">8</td>
                                    <td class="text-center">6/8/2015 6:47 PM</td>
                                    <td class="text-center">FinalNavigation</td>
                                    <td class="text-center">Start</td>
                                    <td>Navigation resulted in making 'item_1' the current active activity.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </section>

</aside>

