<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Prototipo</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/morris.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminLTE.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class="skin-blue">

    <div class="pace  pace-inactive">
        <div class="pace-progress" style="width: 100%;" data-progress-text="100%" data-progress="99">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    @Html.Partial(partialViewName: "_Header")

    <div class="wrapper row-offcanvas row-offcanvas-left">
            @RenderBody()
            @Html.ActionLink("Application name", "Index", "Mock", new { area = "" }, new { @class = "navbar-brand" })
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/demo.js"></script>

</body>
</html>